

.about-box {
    background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(4, 13, 113) 100%);
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
    margin-top: 8px;
}

/* Mobile View */
@media screen and (max-width: 768px) {
    .about-data {
        display: grid;
    }   
    .about-data p {
        margin-left: 16px;
        margin-right: 16px;
        font-size: 13px;
        text-align: justify;
        padding: 15px;
        color: rgb(220, 225, 219);
        font-family: "Alegreya", serif;
    }
}

/* Desktop View */
.about-title {
    position: relative;
    color: rgb(238, 129, 30);
    text-align: center;
    font-size: 32px;
    padding: 25px;
    font-family: "Alegreya", serif;
}
.about-text {
    font-family: "Alegreya", serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6;
    color: #f2f2f2; /* Example text color */
    margin-bottom: 20px;
    padding: 10px;
    text-align: justify; /* Justifies the text */
   /* Light background */
    border-radius: 5px;
  }
  

.about-img img {
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .about-data p {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 15px;
        text-align: justify;
        color: rgb(220, 225, 219);
        padding: 15px;
        font-family: "Alegreya", serif;

    }
    .about-data {
        display: grid;
        grid-template-columns: 50% 50%;
    } 
}
