@font-face {
  font-family: "Uzi";
  src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uzicute";
  src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.footer {
  display: flex;
  flex-direction: column;

  color: wheat;
  font-family: 'Anonymous Pro';
  background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(22, 35, 175) 100%);
}

.footer-data {
  display: flex;
  justify-content: space-around;
  font-family: 'Anonymous Pro';
}

.contact-details {
  text-align: left;
  letter-spacing: 1.5px;
  margin: 15px;
  font-family: 'Anonymous Pro';
  
}

.usefull-links {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 15px;
  font-family: 'Anonymous Pro';
}

.usefull-links a {
  color: wheat;
  font-family: 'Anonymous Pro';
}

.librarian-details {
  text-align: left;
  letter-spacing: 1.5px;
  margin: 15px;
  font-family: 'Anonymous Pro';
}

.contact-details h1,
.usefull-links h1,
.librarian-details h1 {
  font-size: 25px;
  color: rgb(235, 88, 75);
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
  font-family: "Uzicute";
}

.contact-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  font-family: 'Anonymous Pro';
}

.social-icon {
  margin: 10px;
}

.copyright-details p {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.15px;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Anonymous Pro';
}

.copyright-details span {
  font-size: 15px;
  font-family: 'Anonymous Pro';
}

@media screen and (max-width: 768px) {
  .footer-data {
    display: flex;
    flex-direction: column;
  }
}
