/*Desktop View*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 70px;
     width: 100%; 
    position: fixed;
    z-index: 100;
    background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(6, 12, 81) 100%);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
    top: 0%;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
}

.logo-nav a{
    font-size: 20px;
    color: rgb(241, 239, 239);
    font-weight: 800;
    font-family: "Alegreya", serif;
}

.logo-nav a:hover{
    color: wheat;
    transition: all ease 0.5s;
}

.search-input{
    width: 60%;
    margin-left: -10px;
    max-width: 1800px;
    height: 35px;
    outline: none;
    padding: 10px 18px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgb(89, 1, 1);
    font-family: "Alegreya", serif;
   

    
}

.nav-options{
    padding-left: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 15px!important;
    white-space: nowrap;
    margin-left: 200px;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
  
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    margin-top: 18px;
    color: rgb(241, 235, 235);
}

.option a{
    color: rgb(253, 247, 246);
    /* display: flex; */
    align-items: center;
    font-weight: 800;
    font-size: 18px;
}

.option a:hover{
    color: rgb(242, 10, 10);
    transition: all ease 0.5s;
    /* border-bottom: 0.5px solid #fff; */
    transform: translateY(-5px);
}

a{
    text-decoration: none!important;
}
  
.option:hover{
    color: rgb(6, 240, 170);
}

.mobile-menu{
    display: block;
}

/* Nav Options are given in this to make the search input as big as possible */

@media (min-width: 768px){
    .mobile-menu{
        display: none!important;
    }
    .header{
        display: grid;
        grid-template-columns: 10% 60%;
    }
}

@media (max-width: 768px){
    /*Mobile View */
    .header{
        padding: 0px 10px;
    }
    .nav-options{
        display: flex;
        width: 100%;
        height: 280px;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        flex-direction: column;
        list-style-type: none;
        grid-gap: 0px;
    }
    .nav-options.active{
        background: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 100;
        align-content: center;
        padding-left: 0px;
    }
  
    .menu-icon{
        width: 45px;
        height: 45px;
        color: rgb(233,83,75);
        padding: 2px;
        background-color: rgb(246, 233, 202);
        border-radius: 5px;
        cursor: pointer;
        margin:0px 5px 0px 10px;
    }
    .option{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 30px 0px;
    }
}  