@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Uzicute";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
.slider{
    width: 100%;
    height: auto;
    background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(19, 32, 174) 100%);
}

img{
    width: auto;
    height: 500px;
}

/* Mobile View */
@media screen and (max-width:768px){
    img{
        height: 250px;
    }
}