@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
      font-family: "Alegreya", serif;
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
.news-container{
    width: 100%;
    height: auto;
    background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(19, 32, 174) 100%);
    display: flex;
    flex-direction: column;
}

.news-data{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.news-title{
    font-family: "Alegreya", serif;
    position: relative;
    color: rgb(234, 231, 228);
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
    padding-top: 15px;
}

.news-subtitle{
      font-family: "Alegreya", serif;
    font-size: 25px;
    text-align: center;
    color: #eff9ff;
}

.news-competition-event{
    border:2px solid linear-gradient(45deg, #4a1689, #edf2f6, #e2ede8);
    color: #eff9ff;
    border-radius: 5px;
    text-align: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px!important;
    font-family: "Alegreya", serif;
    border:2px solid rgb(181, 175, 173);
}

.news-quiz-event{
    border:2px solid rgb(181, 175, 173);
    border-radius: 5px;
    text-align: left;
    width: 100%;
    padding: 10px;
    color: #eff9ff;
    font-family: "Alegreya", serif;
    margin-bottom: 15px!important;
}

.news-empty{
    width: 25px;
}

@media screen and (max-width:768px) {
    .news-data{
        flex-direction: column;
    }    
}