@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Uzicute";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
.recentaddedbooks-container{
    background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(19, 32, 174) 100%);
    display: flex;
    flex-direction: column;
}

.recentbooks{
    padding: 20px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;	
    position: relative;
	display: flex;
}

.recentbooks:hover div{
    animation-play-state: paused;
}

.recentbooks-title{
    position: relative;
    color: rgb(238,129,30);
    font-size: 32px;
    text-align: center;
    font-family: "Alegreya", serif;
}

.recent-book:hover{
    transform: scale(1.15);
    transition: all ease 0.7s;
    animation-play-state: paused;
}

.images{
    animation: marquee 15s linear infinite;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.recent-book{
    display: block;
    width: 150px;
    height: auto;
    margin: 0 1vw;
    border-radius: 5px;
}

@keyframes marquee {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
}