@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Uzicute";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
.reservedbooks-container{
    background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(19, 32, 174) 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.reservedbooks-table {
    font-family: "Alegreya", serif;
    font-weight: bold;
    border-collapse: collapse;
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    padding: 15px!important;
    color: rgb(1, 11, 20);
}
  
.reservedbooks-table td,.reservedbooks-table th {
    border: 2px solid #5a3b3b;
    text-align: left;
    padding: 8px;
    background: linear-gradient(18deg, rgb(255, 255, 255) 35%, rgb(251, 251, 251) 100%);
    font-family: "Alegreya", serif;
}

.reservedbooks-title{
    position: relative;
    color: rgb(238,129,30);
    text-align: center;
    font-size: 32px;
    font-family: "Alegreya", serif;
    
}