@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
    font-family: "Uzi";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzi-stylish.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Uzicute";
    src: url("https://raw.githubusercontent.com/vickkie/uzitrake/main/fonts/Uzicute.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
*{
    margin-bottom: 0px!important;
}

.welcome-box{
    width: 100%;
    height: auto;
    background: linear-gradient(18deg, rgba(0, 0, 0, 1) 35%, rgb(19, 32, 174) 100%);
   
    text-align: center;
    margin-top: 8px;
  
    
}

.welcome-title{
    display: block;
    margin: 11px 0 17px 0;
    font-size: 65px;
    line-height: 80px;
    color: #f1ebe5;
   background: linear-gradient(45deg, #9945FF, #5497D5, #19FB9B);
    letter-spacing: -4px;
    margin-top: 10px;
     font-family: "Uzicute";

}

.welcome-message{
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 15px;
    font-family: "Uzicute";
}

.welcome-submessage{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Anonymous Pro';
}